.to-do-list{
font-family:'Times New Roman', Times, serif;
text-align: center;
margin-top: 150 px;
}

h1{

    font-size: 4 rem;
}

button{
    font-size: 1.5 rem;
    margin-left: 3px;
    margin-bottom: 5px;
    font-weight: bold;
    padding: 10 px;
    cursor:pointer;


}

